/* Donation webshop css classes */
.amount-selector {
	text-align: center;
}
.amount-buttons {
	text-align: center;
}
.amount-buttons {
	display: flex;
	justify-content: center;
}
.donations-header {
	display: flex;
	text-align: center;
}
.donations-footer {
	padding: 1rem;
	border: 2px;
	border-color: black;
	background-color: lightgreen;
	text-align: center;
}
.custom-amount {
  margin: auto;
  max-width: 15rem;
}
