.navbar-fixed-top {
    background-color: #82b4a0;
    height: 100px;
}

.merchantLogo {
    /* background-image: url(../Images/stf_logo.png); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    max-height: 59px;
    height: 59px;
    margin-top: 24px;
}
h3{
	padding-top: 20px;
}
h1, h2, h3 {
    margin-bottom: 30px;
}

h4, h5, h6 {
    margin-bottom: 30px;
}